{{ define "main" }}

  {{ partial "page-title.html" . }}

  {{ partial "components/page-title" (dict "context" . "title" .Title ) }}

<section class="pb-4 bg-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-md-12 second-push-top">
        <div class="card">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="card-header">
              </div>

              <div>
                <div class="content">
                  <p class=mb-0>{{.Content | safeHTML}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
