@import "style.scss";


:root {
    --orange: #CA4B38;
    --green: #00A5A5;
    --yellow: #FEC800;
    --grey: #717171;
}

.color-orange {
    color: var(--orange);
}
.color-yellow {
    color: var(--yellow);
}
.color-grey {
    color: var(--grey);
}

.color-blue {
    color: var(--green);

    button {
        color: var(--green);
    }
}

.bg-green {
    background-color: var(--green);
}
.bg-grey {
    background-color: var(--grey);
    p {
        color: white;
    }
}

.font-weight-medium {
    font-weight: 500;
}

.scroll-disabled {
    overflow: hidden;
}

/*
CARD COMPONENT
 */
.card {
    background: white;
    box-shadow: 0px 0px 12px #00000029;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    overflow: hidden;

    &.with-border {
        &:after {
            width: 100%;
            height: 10px;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &.color-orange {
            &:after {
                background-color: var(--orange);
            }
        }
        &.color-yellow {
            &:after {
                background-color: var(--yellow);
            }
        }
        &.color-blue {
            &:after {
                background-color: var(--green);
            }
        }
    }

    &.center-card {
        text-align: center;

        .card-header {
            justify-content: center;
            flex-direction: column;
            align-items: center;

            button {
                position: absolute;
                right: 1.25em;
                top: 1em;
            }

            @for $i from 1 through 6 {
                h#{$i} {
                    padding-top: 0.5em;
                }
            }
        }
    }

    .card-header {
        display: flex;
        align-items: self-start;
        justify-content: space-between;
        flex-direction: row;
        @for $i from 1 through 6 {
            h#{$i} {
            font-size: 2em;
            line-height: 1.5em;
            }

            button, button:active {
                color: inherit;
                text-decoration: none;
                font-size: inherit;
                line-height: inherit;
                padding: 0;
            }
        }
        background: white;
        position: relative;

        &:not(.with-separator){
            padding-bottom: 0;
        }

        &.with-separator {
            &:after {
                position: absolute;
                bottom: 0;
                left: 1.25em;
                content: '';
                height: 3px;
                width: 20%;

                &.color-orange {
                    background-color: var(--orange);
                }

                &.color-blue {
                    background-color: var(--green);
                }
            }
        }
    }

    .card-body {
        p {
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }
}

.from-to-inline {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 2.5em !important;

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    justify-content: space-between;

    font-weight: 500;

    position: relative;

    &:after {
        content: '';
        width: 1px;
        height:  100%;
        position: absolute;
        background-color: var(--grey);
        left: calc(50% + 1.25em /2);

    }
}

/*
GLOBAL
 */
.bottom-decoration {
    position: fixed;
    width: 100vw;
    height: 10px;
    bottom: 0;
    z-index: 100;

    div {
        float: left;
        width: calc(100%/3);
        height: 100%;
    }

    .red {
        background-color: var(--red);
    }
    .blue {
        background-color: var(--green);
    }
    .yellow {
        background-color: var(--yellow);
    }
}

.title-medium {
    font-size: 2em;

    &.color-blue {
        &:after {
            background-color: var(--green);
        }
    }
    &.color-yellow {
        &:after {
            background-color: var(--yellow);
        }
    }
    &.color-orange {
        &:after {
            background-color: var(--orange);
        }
    }

    &:after {
        display: block;
        margin: 0 auto;
        margin-top: .5em !important;
        margin-bottom: 1em !important;
        content: '';
        width: 2em;
        height: 4px;
    }
}

hr {
    height: 4px;
    width: 60px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    &.white {
        background-color: white;
    }
}
.btn {
    font-size: 1.2em;
    &.color-yellow {
        background-color: var(--yellow);
        color: white !important;
    }
    &.color-orange {
        background-color: var(--orange);
        color: white !important;
    }
    &.color-blue {

        &:not(.btn-outline){
            background-color: var(--green);
            color: white !important;
        }

        &.btn-outline {
            background-color: transparent !important;
            color: var(--green) !important;
            border: 2px solid var(--green) !important;
        }
    }
    &.color-white {

        &:not(.btn-outline){
            background-color: white;
            color: var(--green) !important;
        }

        &.btn-outline {
            background-color: transparent !important;
            color: white !important;
            border: 2px solid white !important;
        }
    }
}

/*
SPECIFIC
 */
#reasons {
    .card-body {
        margin-top: 0;
        padding-top: 0;
        div:first-child {
            margin-top: 0 !important;
        }
    }
}

footer {
    p {
        color: white;
        font-size: 1.2em;
    }
}


.testimonial {
    h3 {
        font-size: 2em;
    }
    h4 {
        font-size: 1em;
    }
}

.partner-card {
    padding: 1em 2em;
    img {
        object-fit: contain;
        height: 100px;
        width: auto;
    }
}

.big-number {
    font-size: 6em;
}

img.border-blue {
    border: 5px solid var(--green);
}
img.border-white {
    border: 5px solid white;
}
img.team-image {
    width: 150px;
    height: 150px;
}
/*
NAVBAR
 */
.c-navbar-top {
    background-color: var(--orange);
    font-weight: 500;

    .nav-link, .nav-bar {
        padding: 1rem 2rem;
    }

    a, a:hover, a:active, a:visited { color: white; }
}

.c-navbar-light {
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;


    .nav-item {
        border-radius: 7px;
        margin: .5rem 1.5rem;
        padding: 0 2em;

        font-size: 0.9em;
        font-weight: 500;

        border: 2px solid white;
        box-shadow: 0px 2px 6px #00000029;


        .nav-link {
            color: var(--orange);
        }

        &.active {
            border: 2px solid #CA4B38;
        }


        &:last-child {
            background-color: var(--green);
            border: 2px solid var(--green);

            .nav-link {
                color: white;
            }
        }

    }
}

/*
HERO HEADER
 */
.hero-area {

    --padding: 0.5em;


    h1, h2 {
        background-color: white;
        padding: var(--padding);
        font-weight: 400;

        /* Needs prefixing */
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }

    h1 {
        color: var(--orange);
        display: inline;
        position: relative;

        line-height: 1.8em;


        &:after{
            position: absolute;
            bottom: 0;
            left: var(--padding);

            content: '';
            width: 3em;
            height: 5px;
            background-color: var(--orange);
        }
    }
    h2 {
        color: var(--grey);
        display: inline-flex;
        line-height: 2em;
        margin-top: 9px;
        padding-left: calc(var(--padding) * 2);
    }

}


//Burger menu

#burger {
    cursor: pointer;
    z-index: 4;
}

// Side Menu

.layer-menu {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 2;

    &.opened {
        right: 0 !important;
    }
}

#side-menu {
    position: absolute;
    right: -100%;
    top: 56px;
    width: 65vw;
    height: calc(100vh - 56px);
    background: #CA4B38;
    transition: 0.3s ease-in-out;
    z-index: 3;

    &.opened {
        right: 0 !important;
    }

    .points {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(40%, 40%);
    }

    .navbar {
        height: 100%;
        align-items: flex-start;

        .nav-item {
            border: none;
            box-shadow: none;
            font-size: 1.2rem;
            margin: .5rem 0;
            padding: 0 2rem 0 1rem;

            .childrens {
                .nav-link {
                    color: #fff;
                    border-bottom: none;
                    font-weight: 300;
                    margin-left: 1rem;
                    font-size: 1.1rem;
                }
            }

            .nav-link {
                color: #fff;
                border-bottom: 1px solid rgba(255,255,255,0.5);
            }

            &:last-of-type {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(calc(-50% - 1.5rem));
                z-index: 2;
                box-shadow: 0px 2px 6px #00000029;
                margin: .5rem 1.5rem;
                border: none;
                padding: 0 2rem;

                .nav-link {
                    border-bottom: none;
                    width: max-content;
                    margin: .5rem 0;
                }
            }
        }
    
    }

}
