<div class="layer-menu"></div>
<div id="side-menu" class="d-lg-none">
    <nav class="navbar pt-4"> 
        <div class="navbar-collapse">
            <ul class="navbar-nav flex-column vertical-nav">
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{ .Name }}
                  </a>
                  <div class="dropdown-menu" >
                    {{ range .Children }}
                    <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
                    {{ end }}
                  </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
                    <div class="childrens" >
                        {{ range .Children }}
                        <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
                        {{ end }}
                    </div>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </nav>
    <img src="/images/points.svg" alt="" class="points">
</div>
