<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-markdown@2.2.4/dist/vue-markdown.js"></script>
</head>
  
<body>
<div class="card">
                <h2 class="mb-0 title-medium color-blue separator-left">Dernier article</h2>
        <div id="app">
                <article />
        </div>
</div>

<script>
import article from './post/interview_anna_giraud.md'
export default {
  name: 'app',
  components: {
    article
  }
}
</script>
</body>
