<div class="card">
                <h2 class="mb-0 title-medium color-blue separator-left">Dernier article</h2>
        <div id="card-content">
          <ul>
          <!-- orders content according to the "lastmod" field in front matter -->
          {{ range .Pages.ByLastmod }}
              <li>
              <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
              <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
              {{.Content | safeHTML }}
              <time class="has-text-grey-light is-size-7">Publié le {{ $mymonths := index $.Site.Data.mois }}{{ .Date.Day }}&nbsp;{{ index $mymonths (printf "%d" .Date.Month) }} {{ .Date.Year }}
              </li>
          {{ end }}
          </ul>
        </div>
</div>
