{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area overflow-hidden d-flex align-items-center" id="parallax" style="background-image: url('{{ .Params.banner.image | absURL }}')">
  </section>
  <!-- /hero area -->

{{ partial "components/page-title" (dict "context" . "title" .Params.banner.title "subtitle" .Params.banner.subtitle ) }}

 {{ if .Params.about.enable }}
    <!-- about -->
    {{ partial "components/page-introduction-up" (dict "context" . "title" .Params.about.title "content" .Params.about.content "image" .Params.about.image  ) }}
{{ end }}


  <!-- Recrutement -->
  {{ if .Params.recrutement.enable }}
  {{ with .Params.recrutement }}
  <section class="bg-lightgrey clip-bottom-white recrutement pt-5 mb-lg-5">
    <div class="container">
        {{ partial "components/wavy-title" (dict "context" . "title" "Vous recrutez ?") }}
      <div class="row row-eq-height">
        {{ range .item }}
          <div class="col-md-12 col-lg-6 mb-4">
            <div class="card center-card {{ .color }} position-relative overflow-visible">
              <div class="card-header">
                <img
                  class="card-img-top rounded-circle card-img-top team-image"
                  src="{{.image}}"
                  alt="Valérie"
                >
                <h3 class="title-medium {{.color}}">{{.title}}</h3>
              </div>

              <div>
                <div class="card-body">
                  <p>
                    {{.content | safeHTML }}
                  </p>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center position-lg-absolute">
                    <a href="/contact" class="btn font-weight-medium {{.color}} my-3 py-3 px-5">{{.button}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


<!-- ColorBlock -->
  {{ if .Params.colorBlock.enable }}
  {{ with .Params.colorBlock }}
  <section class="bg-white clip-bottom-lightgrey pt-5 overflow-hidden colorBlocks">
    <div class="container pb-5">
      <div class="row row-eq-height">
        {{ range .item }}
           <div class="col-md-12 col-lg-6 mb-5 h-100">
            <div class="mb-5 card center-card colorBlock {{ .color }}">
              <div class="card-header">
                <h3>{{.title}}</h3>
              </div>
              <div>
                <div class="card-body">
                  <p>
                    {{.content | markdownify}}
                  </p>
                  <a href="/contact" class="btn font-weight-medium pt-3 pb-3 px-4">{{.button}}</a>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
    <img src="/images/points.svg" alt="" class="points">
  </section>
  {{ end }}
  {{ end }}

{{ if .Params.testimonials.enable }}
    {{ partial "testimonial-section.html" (dict "context" . "filter" (slice "entreprises") ) }}
{{ end }}

{{ if .Params.partners.enable }}
{{ with .Params.partners }}
<section class="section bg-lightgrey d-block d-lg-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div
                        class="card-header color-blue with-separator"
                    >
                        <h3 class="mb-0 pr-4">
                            {{.title}}
                        </h3>
                    </div>

                    <div>
                        <div class="card-body">
                            <p class="mb-4">
                                {{.subtitle}}
                            </p>
                            {{ range .item }}
                                <img src="{{.logo}}" alt="">
                            {{ end }}
                            <div class="row mt-5 mb-4">
                                <div class="col-12 d-flex justify-content-center">
                                <a href="" class="btn btn-outline font-weight-medium color-blue py-3 px-4">Afficher toutes les entreprises</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}

{{ end }}
