{{ define "main" }}

<!-- hero area -->
<section
  class="hero-area bg-primary overflow-hidden d-flex align-items-center"
  id="parallax"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-11 d-none d-md-block">
        <h1>{{ .Site.Data.agenda.banner.title | safeHTML }}</h1>
        <h2>{{ .Site.Data.agenda.banner.subtitle | safeHTML }}</h2>
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->

<section class="pb-4 bg-lightgrey up">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header color-orange with-separator">
            <h3>{{ .Site.Data.agenda.banner.title | safeHTML }}</h3>
          </div>

          <div class="card-body">
            <p class="font-weight-medium">
              {{ .Site.Data.agenda.banner.subtitle | safeHTML }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "getEvents.html" . }}

{{ if .Site.Data.agenda.event.enable }} {{ with .Site.Data.agenda.event }}
<section
  class="accordion-section clearfix bg-lightgrey py-5"
  aria-label="Question Accordions"
>
  <div class="container">
    <div class="row mb-4 px-5 flex-nowrap">
      <p class="cursus-title mb-0">Nos événements par mois</p>
      <img src="/images/cursus-wave.svg" class='ml-3 mb-1 w-25 cover' alt="">
    </div>
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card">
          {{range $index, $el := .month}}
          <div class="container">
            <div
              class="panel-group"
              id="accordion"
              role="tablist"
              aria-multiselectable="true"
            >
              <div class="panel panel-default mb-3">
                <div
                  class="panel-heading py-2"
                  role="tab"
                  id="heading-{{$index}}"
                >
                  <h3 class="panel-title">
                    <a
                      class="collapsed"
                      role="button"
                      title=""
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse-{{$index}}"
                      aria-expanded="true"
                      aria-controls="collapse-{{$index}}"
                    >
                      {{.label}} {{if gt (len .item) 0}}
                      <span class="color-orange">({{ len .item }})</span>
                      {{end}}
                    </a>
                  </h3>
                </div>
                <div
                  id="collapse-{{$index}}"
                  class="panel-collapse collapse"
                  role="tabpanel"
                  aria-labelledby="heading-{{$index}}"
                >
                  <div class="panel-body mb-4">
                    {{range .item}}
                    <div class="container">
                      <div class="row event mb-2">
                        <div
                          class="date col-4 d-flex flex-column justify-content-center"
                        >
                          <p class="font-weight-bold">{{.date}}</p>
                          <p>{{.start}} - {{.end}}</p>
                        </div>
                        <div
                          class="desc col-8 d-flex flex-column justify-content-center"
                        >
                          <p class="font-weight-bold">{{.name}}</p>
                          <p>{{.localisation}}</p>
                        </div>
                      </div>
                    </div>
                    {{end}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}

{{ end }}
