{{ $image := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .image ) }}
<div class="carousel slide lazy">
<div class="item">
<img data-src="{{ .image | absURL }}" alt="{{.alt}}" width="{{.width}}" {{if .class }}class="{{.class}}" {{end}}/>
</div>
</div>

  var pushedGoogleAds = false;
  var myLazyLoad = new LazyLoad({
      elements_selector: ".lazy"
  });

<script>
  $(function() {
  return $(".carousel.lazy").on("slide", function(ev) {
    var lazy;
    lazy = $(ev.relatedTarget).find("img[data-src]");
    lazy.attr("src", lazy.data('src'));
    lazy.removeAttr("data-src");
  });
});
</script>
