<section class="bg-lightgrey pb-4 pt-lg-5" id="introduction">
    <div class="container pt-lg-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="card-header color-blue with-separator" id="headingAbout" data-toggle="collapse"
                                 data-target="#collapseAbout">
                                <h3 class="mb-0">
                                    {{.title}}
                                </h3>
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </div>

                            <div id="collapseAbout" class="collapse show" aria-labelledby="collapseOne" data-parent="#accordion">
                                <div class="card-body">
                                    {{.content | markdownify}}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 d-none d-lg-block">
                            <img src="{{.image}}" class="d-block mx-auto my-4" style="width: 200px;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
