  <!-- hero area -->
  <section class="hero-area overflow-hidden d-flex align-items-center" id="parallax" style="background-image: url('{{ .Params.banner.image | absURL }}')">
  </section>  
  <!-- /hero area -->

{{ partial "components/page-title" (dict "context" . "title" .Params.banner.title "subtitle" .Params.banner.subtitle ) }}

{{ if .Params.about.enable }}
    <!-- about -->
    {{ partial "components/page-introduction-up" (dict "context" . "title" .Params.about.title "content" .Params.about.content "image" .Params.about.image ) }}
{{ end }}
    <!-- /about -->

{{ range $key, $value := .Site.Taxonomies.archives }}{{ if eq $key $archive }}{{ range $value.Pages }}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-4"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></p>
                            <p class="subtitle is-size-6 has-text-grey-light">
                                Published at {{ .Date.Format "January 2, 2006" }} &middot;
                                <i class="far fa-clock"></i>&nbsp;{{.ReadingTime}} min read
                            </p>
                            <p>{{ .Summary }}...</p>
                        </div>
                    </div>
                </article>
                <br>
{{ end }}{{ end }}{{ end }}

<!-- Recrutement -->
  <section class="bg-lightgrey clip-bottom-white recrutement pt-5" id="recrutement">
    <div class="container">
        {{ partial "components/wavy-title" (dict "context" . "title" "Vous recrutez ?") }}
      <div class="row row-eq-height">
        {{ range .item }}
          <div class="col-md-12 col-lg-6 mb-4">
            <div class="card h-100 big-bottom-lg center-card {{ .color }} position-relative overflow-visible">
              <div class="card-header">
                <img
                  class="card-img-top rounded-circle card-img-top team-image"
                  src="{{.image}}"
                  alt="Valérie"
                >
                <h3 class="title-medium {{.color}}">{{.title}}</h3>
              </div>

              <div>
                <div class="card-body">
                  <p class="shortenedText">
                    {{.content | safeHTML }}
                  </p>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center position-lg-absolute">
                    <a href="/contact" class="btn font-weight-medium {{.color}} my-4 my-lg-3 py-3 px-5">{{.button}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>

        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}
