{{ define "main" }}

<!-- hero area -->
<section
  class="hero-area overflow-hidden d-flex align-items-center"
  id="parallax"
  style="background-image: url('{{ .Params.banner.image | absURL }}')"
>
</section>
<!-- /hero area -->
{{ partial "components/page-title" (dict "context" . "title" .Params.banner.title "subtitle" .Params.banner.subtitle ) }}

{{ if .Params.documents.enable }}


<section class="bg-lightgrey pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        {{ with .Params.form }}
        <div class="card second-push-top">
            <div class="card-header">
              <h2 class="mb-0 title-medium color-blue separator-left">{{.title}}</h2>
            </div>
            <p class="pt-3 m-0">{{.subtitle}}</p>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>

<section class="bg-lightgrey pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
            <div class="card-body">
              <div class="card second-push-top subForm">
                  <div class="row my-4 d-flex flex-column align-items-center">
                  <h3 class="color-blue w-100 px-4 text-center">Pour toute inscription : 02 79 02 73 78</h3></br>
                  <p class="">contact@normandiewebschool.fr</p>
                  </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>



{{ end }} {{ end }}
