{{ define "main" }}

<!-- hero area -->
<section
  class="hero-area overflow-hidden d-flex align-items-center"
  id="parallax"
  style="background-image: url('{{ .Params.banner.image | absURL }}')"
>
</section>
<!-- /hero area -->
{{ partial "components/page-title" (dict "context" . "title" .Params.banner.title "subtitle" .Params.banner.subtitle ) }}

{{ if .Params.documents.enable }}

<section class="bg-lightgrey pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        {{ with .Params.form }}
        <div class="card second-push-top">
            <div class="card-header">
              <h2 class="mb-0 title-medium color-blue separator-left">{{.title}}</h2>
            </div>
            <p class="pt-3 m-0">{{.subtitle}}</p>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>

<section class="bg-lightgrey clip-bottom-white recrutement pt-10">
    <div class="container">
    <div style="margin-bottom:5%">
        <div class="row row-eq-height">
              <div class="col-md-12 col-lg-8 mb-4">
                <div class="card">
                <div class="card-content">
              <p>Ensemble de nos filières Bachelor Chef de projet digital :</p>
              <p>02 79 02 73 78</p>
              <p>contact@normandiewebschool.fr</p>
                </div>
                </div>
              </div>
                  
              <div class="col-md-12 col-lg-4 mb-4">
                <div class="card">
                <div class="card-content">
                   <p>Mastère Expert digital :</p>
                   <p>02 35 12 88 87</p>  
                   <a href="https://www.isd-flaubert.com/marketing-digital" target="_blank">Formulaire d'inscription</a>
              
                   <div class="col-lg-4 d-none d-lg-flex align-items-center">
                   <img
                   class=""
                   src="/uploads/logo-isd-horizontal-typo-grise.png"
                   alt="ISD Flaubert"
                   >
                   </div>
                </div>
                </div>
              </div>
        </div>
    </div>
    </div>
</section>

{{ end }} {{ end }}
