{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area bg-primary overflow-hidden d-flex align-items-center" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 d-none d-md-block">
          <h1>{{ .Site.Data.cursus.banner.title | safeHTML }}</h1>
          <h2>{{ .Site.Data.cursus.banner.subtitle | safeHTML }}</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- /hero area -->

  <section class="pb-4 bg-lightgrey up">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="card-header color-orange with-separator">
                <h3>
                  {{ .Site.Data.cursus.banner.title | safeHTML }}
                </h3>
              </div>

              <div class="card-body">
                <p class="font-weight-medium">
                  {{ .Site.Data.cursus.banner.subtitle | safeHTML }}
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  {{ if .Site.Data.cursus.about.enable }}
  <!-- about -->
  <section class="pb-4 bg-lightgrey">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          {{ with .Site.Data.cursus.about }}
          <div class="card">
            <div class="card-header color-blue with-separator">
              <h3 class="mb-0">
                  {{.title}}
              </h3>
            </div>

            <div id="collapseAbout" class="collapse show" aria-labelledby="collapseOne" data-parent="#accordion">
              <div class="card-body">
                <p>
                  {{.content | markdownify}}
                </p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}


  <!-- Nos cursus -->
  {{ if .Site.Data.cursus.cursus.enable }}
  {{ with .Site.Data.cursus.cursus }}
  <section class="py-5 bg-lightgrey clip-top-white overflow-hidden">
    <div class="container">
      <div class="row mb-4 px-5">
        <p class="cursus-title mb-0">Nos cursus</p>
        <img src="/images/cursus-wave.svg" class='ml-3 mb-1' alt="">
      </div>
      <div class="row">
        {{ range .item }}
          <div class="col-md-12 mb-4">
            <div class="card center-card {{ .color }}">
              <div class="card-header">
                <h3>{{.title}}</h3>
              </div>

              <div>
                <div class="card-body">
                  <p>
                    {{.content | markdownify}}
                  </p>

                  <ul class="mt-3 {{ .color }} pl-0">
                    <li>[ {{.from}} ]</li>
                  </ul>
                </div>

                {{if .image}}
                <div class="logo">
                  {{ range .item }}
                    <img src="{{.url}}" alt="">
                  {{ end }}
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-center mt-4">
          <a href="" class="btn font-weight-medium color-blue mt-5 mb-3 pt-3 pb-3 pl-4 pr-4">Demande d'inscription</a>
        </div>
      </div>
      <img src="/images/points.svg" alt="" class="points">
    </div>
  </section>
  {{ end }}
  {{ end }}


<!-- filieres -->
  {{ if .Site.Data.cursus.filieres.enable }}
  {{ with .Site.Data.cursus.filieres }}
  <section class="bg-white clip-bottom-lightgrey pt-5">
    <div class="container pb-5">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="title-medium color-orange">{{ .title }}</h3>
          <p>{{ .subtitle }}</p>
        </div>

        <div class="cursus_filieres mt-5">
          {{ range .item }}
            <div class="row flex-column align-items-center mb-5">
              {{if .image}}
              <div class="circle">
                <img src="{{.bulle}}" />
              </div>
              {{end}}
              
              {{if (not .image)}}
              <h3>{{.bulle}}</h3>
              {{end}}

              <p>{{.title}}</p>
              <p>{{.content | markdownify}}</p>
              <a href="{{.link}}" class="mb-5">En savoir plus</a>
              {{if .arrow}}
              <img src="{{.arrowImage}}"/>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


{{ if .Site.Data.homepage.testimonials.enable }}
  <!-- Team -->
  <section class="bg-lightgrey">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          {{ $testimonials := where .Site.RegularPages "Type" "in" "testimonial" }}

          <div id="testimonialsCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#testimonalsCarouselIndicator" data-slide-to="0" class="active"></li>
              <li data-target="#testimonalsCarouselIndicator" data-slide-to="1"></li>
              <li data-target="#testimonalsCarouselIndicator" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              {{ range $index, $value := $testimonials }}
                <div class="carousel-item {{ if (eq $index 0 )}}active{{end}}">
                  {{ partial "testimonial.html" . }}
                </div>
              {{ end }}
            </div>

            <a class="carousel-control-prev" href="#testimonialsCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonialsCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}

{{ end }}
