{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area overflow-hidden d-flex align-items-center" id="parallax" style="background-image: url('{{ .Site.Data.cursus.banner.image | absURL }}')">

  </section>
  <!-- /hero area -->
{{ partial "components/page-title" (dict "context" . "title" .Site.Data.cursus.banner.title "subtitle" .Site.Data.cursus.banner.subtitle ) }}

  {{ if .Site.Data.cursus.about.enable }}
    <!-- about -->
    {{ partial "components/page-introduction-up" (dict "context" . "title" .Site.Data.cursus.about.title "content" .Site.Data.cursus.about.content "image" .Site.Data.cursus.about.image  ) }}
  {{ end }}


  <!-- Nos cursus -->
  {{ if .Site.Data.cursus.cursus.enable }}
  {{ with .Site.Data.cursus.cursus }}
  <section class="py-5 bg-lightgrey clip-bottom-white overflow-hidden " id="cursus">
    <div class="container">
      {{ partial "components/wavy-title" (dict "context" . "title" "Nos cursus") }}

      <div class="row">
        {{ range .item }}
          <div class="col-md-12 col-lg-4 mb-4">
            <div class="card center-card {{ .color }}">
              <div class="card-header">
                <h3 class="title-medium {{.color}}">{{.title}}</h3>
              </div>

              <div>
                <div class="card-body">
                  <p>
                    {{.content | markdownify}}
                  </p>

                  <ul class="mt-3 {{ .color }} pl-0">
                    <li>[ {{.from}} ]</li>
                  </ul>
                </div>

                <div class="logo d-flex justify-content-around">
                  {{ range .images }}
                    <img src="{{.url}}" alt="">
                  {{ end }}
                </div>
              </div>
            </div>
            <div class="col-12 justify-content-center my-4 d-none d-lg-flex">
              <a href="" class="btn font-weight-medium color-blue my-5 py-3 px-4">Demande d'inscription</a>
            </div>
          </div>
        {{ end }}
      </div>

      <div class="row d-block d-lg-none">
        <div class="col-12 d-flex justify-content-center my-4">
          <a href="" class="btn font-weight-medium color-blue my-5 py-3 px-4">Demande d'inscription</a>
        </div>
      </div>
      <img src="/images/points.svg" alt="" class="points">
    </div>
  </section>
  {{ end }}
  {{ end }}


<!-- filieres -->
  {{ if .Site.Data.cursus.filieres.enable }}
  {{ with .Site.Data.cursus.filieres }}
  <section class="bg-white clip-bottom-lightgrey pt-5">
    <div class="container pb-5">
      <div class="row">
        <div class="col-12 text-center text-lg-left">
          <h3 class="title-medium with-separator-lg-left color-orange">{{ .title }}</h3>
          <p>{{ .subtitle | safeHTML }}</p>
        </div>

        <div class="cursus_filieres mt-5 ">

          <img src="{{ `/images/arrow-down.svg` | absURL }}" class="arrow-1 d-none d-lg-block"/>
          <img src="{{ `/images/arrow-down.svg` | absURL }}" class="arrow-2 d-none d-lg-block"/>

          {{ range .item }}
            <div class="row flex-column align-items-center mb-5">
              {{if .image}}
              <div class="circle">
                <img src="{{.bulle}}" />
              </div>
              {{end}}

              {{if (not .image)}}
              <h3>{{.bulle}}</h3>
              {{end}}

              <p class="w-lg-100">{{.title}}</p>
              <p class="w-lg-100">{{.content | markdownify}}</p>
              <a href="{{.link}}" class="mb-5">En savoir plus</a>
              {{if .arrow}}
              <img src="{{.arrowImage}}" class="d-block d-lg-none"/>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}


{{ if .Site.Data.homepage.testimonials.enable }}
  <!-- Team -->
  <section class="bg-lightgrey">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-12">

          {{ $testimonials := where .Site.RegularPages "Type" "in" "testimonial" }}

          <div id="testimonialsCarousel" class="carousel slide pb-5" data-ride="carousel">
            <ol class="carousel-indicators">
             {{ range $index, $value := $testimonials }}
              <li data-target="#testimonalsCarouselIndicator" data-slide-to="{{$index}}" class="{{ if (eq $index 0 )}}active{{end}}"></li>
              {{end}}
            </ol>

            <div class="carousel-inner">
              {{ range $index, $value := $testimonials }}
                <div class="carousel-item {{ if (eq $index 0 )}}active{{end}}">
                  {{ partial "testimonial.html" . }}
                </div>
              {{ end }}
            </div>

            <a class="carousel-control-prev" href="#testimonialsCarousel" role="button" data-slide="prev">
              <span class="color-blue"><i class="fa fa-angle-left carousel-arrow" aria-hidden="true"></i></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonialsCarousel" role="button" data-slide="next">
              <span class="color-blue"><i class="fa fa-angle-right carousel-arrow" aria-hidden="true"></i></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}

{{ end }}
