{{ define "main" }}

<section
  class="hero-area-headerlp overflow-hidden d-flex align-items-center"
  id="parallax"
  style="background-image: url('{{ .Params.banner.image | absURL }}')"
>
</section>

{{ if .Params.documents.enable }}
<section class="bg-lightgrey pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        {{ with .Params.form }}
        <div class="card second-push-top">
            <div class="card-header">
              <h2 class="mb-0 title-medium color-blue separator-left">{{.title}}</h2>
            </div>
            <p class="pt-3 m-0">{{.subtitle}}</p>
          <div>
            <div class="card-body">
              <form id="ajaxForm" name='inscription' action="https://normandiewebschool.fr:8080/applicants" method="POST" class="mt-3" >
                <div class="form-group">
                  <div class="input-icon mb-3 position-relative w-lg-50 pr-lg-1 d-lg-inline-block">
                  <img src="/uploads/icn-user.png" alt="" class="icn-contact"><input type="text" class="form-control" id="Prenom" name="firstname" placeholder="Votre prénom (requis)" required="true" minlength="1" maxlength="20"></div>
                  <div class="input-icon mb-3 position-relative w-lg-50 pl-lg-1 d-lg-inline-block">
                  <img src="/uploads/icn-user.png" alt="" class="icn-contact"><input type="text" class="form-control" id="Nom" name="name" placeholder="Votre nom (requis)" required="true" minlength="2" maxlength="30"></div>
                  <div class="input-icon mb-3 position-relative w-lg-50 pr-lg-1 d-lg-inline-block">
                  <img src="/uploads/icn-mail.png" alt="icn-contact" class="icn-contact"><input type="email" class="form-control" id="Mail" name="email" placeholder="Votre adresse email (requis)" required="true"></div>
                  <div class="input-icon mb-3 position-relative w-lg-50 pl-lg-1 d-lg-inline-block">
                  <img src="/uploads/icn-phone.png" alt="icn-contact" class="icn-contact"><input type="tel" class="form-control" id="Phone" name="phone" placeholder="Votre numéro de téléphone (requis)" required="true" minlength="8" maxlength="15"></div>
                  <div class="input-icon mb-3 position-relative w-lg-100  d-lg-inline-block">
                  <img src="/uploads/icn-msg.png" alt="icn-contact" class="icn-contact icn-contact-message"><textarea cols="30" rows="5" maxlength="300" class="form-control" id="msg" name="msg" placeholder="Votre message (facultatif)"></textarea></div>      
                  <div class="input-icon mb-3 position-relative w-lg-100  d-lg-inline-block">
                  <label for="spe"></label>   
                  <select name="spe" id="spe" class="form-control" required="true">
                  <option value="">-- Année souhaitée --</option>
                             <option value="Année préparatoire">Année préparatoire</option>
                             <option value="Web Marketing 2ème année">Web Marketing 2ème année</option>
                             <option value="Web Marketing 3ème année">Web Marketing 3ème année</option>
                             <option value="Développement web et applicatif 2ème année">Développement web et applicatif 2ème année</option>
                             <option value="Développement web et applicatif 3ème année">Développement web et applicatif 3ème année</option>
                             <option value="Communication graphique 2ème année">Communication graphique 2ème année</option>
                             <option value="Communication graphique 3ème année">Communication graphique 3ème année</option>
                             <option value="Community management 2ème année">Community management 2ème année</option>
                             <option value="Mastère Expert digital">Mastère Expert digital</option>
                  </select></div>
                  </div>
                  <div class="row mb-lg-4">
                    <div class="col-lg-8">
                      {{range $index, $el := .checkbox}}
                      <div class="form-check pb-3">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="checkbox-{{$index}}"
                          name="{{.name}}"
                          {{ if .required | eq true }} required="true" {{ end }}
                        />
                        <label class="form-check-label" for="checkbox-{{$index}}"
                          >{{.content}}</label
                        >
                      </div>
                      {{end}}
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center my-5 my-lg-0">
                      <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <div id="decoded"></div>
                      <button type="submit" id="encode" class="btn font-weight-medium color-blue py-3 px-5">
                        <a>Postuler</a>
                      </button>
                      <div id="encoded"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>

<script>
  grecaptcha.ready(function() {
    grecaptcha.execute('6Ld62j8aAAAAAN6zC4CY4GOyV2D_LU1x4CzuHsNs', {action: 'homepage'})
            .then(function(token) {
              document.getElementById('captchaResponse').value = token;
            });
  });
</script>

<script>
    encode.onclick = async (e) => {
        let response = await fetch('https://normandiewebschool.fr:8080/applicants', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
        })

        let text = await response.text(); // read response body as text
        data = JSON.parse(text);
        document.querySelector("#encoded").innerHTML = text;
      //  document.querySelector("#encoded").innerHTML = `First name = ${data.firstname} <br/> 
      //                                                  Last name = ${data.lastname} <br/>
      //                                                  Age    = ${data.age}`
    };

    ajaxForm.onsubmit = async (e) => {
      e.preventDefault();
      var form = document.querySelector("#ajaxForm");
     // var form = document.forms[0];

        data = {
          firstname : form.querySelector('input[name="firstname"]').value,
          lastname : form.querySelector('input[name="name"]').value,
          email : form.querySelector('input[name="email"]').value,
          phone : form.querySelector('input[name="phone"]').value,
          spe : form.querySelector('select[name="spe"]').value,
          msg : form.querySelector('textarea[name="msg"]').value
        }

        let response = await fetch('https://normandiewebschool.fr:8080/applicants', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
        })

        let text = await response.text(); // read response body as text
        document.querySelector("#decoded").innerHTML = text;
    };
</script>

{{ end }}{{ end }}
