{{ define "main" }}

<!-- hero area -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
>
</section>

		    {{ partial "components/page-title" (dict "context" . "title" .Params.banner.title "subtitle" .Params.banner.subtitle ) }}
		    {{ if .Params.documents.enable }}


           			<h3 class="section-subheading">{{ with .Site.Params.contact.subtitle }}{{ . | markdownify }}{{ end }}</h3>
           			<br>
            </div>
		    </div>
		        <div class="col-md-6 col-md-offset-3 text-left">
		            <form  action="https://hooks.zapier.com/hooks/..." method="POST" name="sentMessage" id="contactForm">
				            <div class="form-group">
				              		<input type="hidden" name="_subject" value="Form sent from page: {{ .RelPermalink }}">
				            	</div>
		                <div class="form-group">
		                    <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{ .  | markdownify }}{{ end }}" name="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.warning }}{{ . | markdownify}}{{ end }}">
		                    <p class="help-block text-danger"></p>
		                </div>
		                <div class="form-group">
		                    <input type="email" class="form-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . | markdownify }}{{ end }}" name="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.warning }}{{ . | markdownify }}{{ end }}">
		                    <p class="help-block text-danger"></p>
		                </div>
		                <div class="form-group">
		                    <input type="tel" class="form-control" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{ . | markdownify }}{{ end }}" name="phone">
		                    <p class="help-block text-danger"></p>
		                </div>
				     <div class="form-group">
		                    <input type="filiere" class="form-control" placeholder="{{ with .Site.Params.contact.form.filiere.select}}{{ . | markdownify }}{{ end }}" name="filiere">
		                    <p class="help-block text-danger"></p>
		                </div>
		                <div class="form-group">
		                    <textarea class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{ . | markdownify }}{{ end }}" name="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.warning }}{{ . | markdownify }}{{ end }}"></textarea>
		                    <p class="help-block text-danger"></p>
		                </div>
		                <div class="clearfix"></div>
		                <div class="col-lg-12 text-center">
		                    <div id="success">{{ with .Site.Params.contact.success }}{{ . | markdownify }}{{ end }}</div>
		                    <input type="submit" value="{{ with .Site.Params.contact.buttonText }}{{ . | markdownify }}{{ end }}" class="btn btn-primary btn-xl">
		                </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://www.google.com/recaptcha/api.js?render=6Ld62j8aAAAAAN6zC4CY4GOyV2D_LU1x4CzuHsNs"></script>
<script>
  grecaptcha.ready(function() {
    grecaptcha.execute('6Ld62j8aAAAAAN6zC4CY4GOyV2D_LU1x4CzuHsNs', {action: 'homepage'})
            .then(function(token) {
              document.getElementById('captchaResponse').value = token;
            });
  });
</script>
{{ end }}
