{{ define "main" }}

<!-- hero area -->
<section
  class="hero-area overflow-hidden d-flex align-items-center"
  id="parallax"
  style="background-image: url('{{ .Params.banner.image | absURL }}')"
>
</section>
<!-- /hero area -->
{{ partial "components/page-title" (dict "context" . "title" .Params.banner.title "subtitle" .Params.banner.subtitle ) }}

{{ if .Params.documents.enable }}

<form>
<div>
  <input type="text" class="form-control">
</div>
<div>
  <textarea class="form-control"></textarea>
  </div>
  <div>
    <select multiple class=form-control>
        <option value=un>Web marketing</option>
        <option value=deux>Web Design</option>
        <option value=trois>Développeur web et mobile/option>
        <option value=quatre>Expert digital/option>
    </select> 
  </div>
</form>
</section>
<script>
  grecaptcha.ready(function() {
    grecaptcha.execute('6Ld62j8aAAAAAN6zC4CY4GOyV2D_LU1x4CzuHsNs', {action: 'homepage'})
            .then(function(token) {
              document.getElementById('captchaResponse').value = token;
            });
  });
</script>
{{ end }}{{ end }}
          
