{{ define "main" }}

<!-- hero area -->
<section
  class="hero-area overflow-hidden d-flex align-items-center"
  id="parallax"
  style="background-image: url('{{ .Params.banner.image | absURL }}')"
>
</section>
<!-- /hero area -->
{{ partial "components/page-title" (dict "context" . "title" .Params.banner.title "subtitle" .Params.banner.subtitle ) }}

{{ if .Params.documents.enable }}
<section class="bg-lightgrey pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        {{ with .Params.form }}
        <div class="card second-push-top">
            <div class="card-header">
              <h2 class="mb-0 title-medium color-blue separator-left">{{.title}}</h2>
            </div>
            <p class="pt-3 m-0">{{.subtitle}}</p>
           <div>
              <div class="card-body">
                   <form id="ajaxForm" name='inscription' action="https://getform.io/f/7ae989ac-d8da-4a1b-8dd3-b09a3b4d5910" method="POST" class="mt-3" >
                      <div class="form-group">
                            <label for="nom"></label>
                        </div>
                   <input type="text" class="form-control" id="nom" placeholder="Vôtre nom">
              <div class="form-group">
                   </div>
                   <input type="text" class="form-control" id="prenom" placeholder="Vôtre prénom">
              <div class="form-group">
                
                   <label for="email"></label>
                   <input type="email" class="form-control" id="email" placeholder="vôtre email">
                 </div>
                   <input type="text" class="form-control" id="prenom" placeholder="Vôtre prénom">
              <div class="form-group">
                   <label for="email"></label>
                   <input type="email" class="form-control" id="email" placeholder="vôtre email">
                 </div>
                 <div class="form-group">
                   <label for="selection"></label>
                   <select id="selection" class="form-control">
                     <option value="">Choix de la filière</option>
                     <optgroup label="Choix de la filière">
                       <option value="">Web Marketing</option>
                       <option value="">Web Design</option>
                       <option value="">Développeur web et mobile</option>
                         <option value="">Community management</option>
                     </optgroup>
                   
                   </select>
                 </div>
                 <div class="form-group">
                   <label for="bio"></label>
                   <textarea class="form-control" id="bio"  cols="30"
                      rows="10"></textarea>
                 </div>
                  <div class="row mb-lg-4">
                    <div class="col-lg-8">
                      {{range $index, $el := .checkbox}}
                      <div class="form-check pb-3">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="checkbox-{{$index}}"
                          name="{{.name}}"
                          {{ if .required | eq true }} required="true" {{ end }}
                        />
                        <label class="form-check-label" for="checkbox-{{$index}}"
                          >{{.content}}</label
                        >
                      </div>
                      {{end}}
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center my-5 my-lg-0">
                      <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn font-weight-medium color-blue py-3 px-5"
                      >
                        <a>Envoyer le message</a>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>

{{ end }}{{ end }}
